<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="myviewstateSection">
      <section name="viewstateService" type="MSTech.GestaoEscolar.Web.WebProject.ViewState.ViewStateProviderServiceSection, MSTech.GestaoEscolar.Web.WebProject" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <appSettings configSource="Configs\appSettings.config"/>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Manutencao.aspx"/>
    <httpCookies httpOnlyCookies="true" />
    <authentication mode="None" />
    <sessionState configSource="Configs\session.config" />
    <globalization uiCulture="pt-BR" culture="pt-BR" resourceProviderFactoryType="MSTech.GestaoEscolar.CustomResourceProviders.DBResourceProviderFactory, MSTech.GestaoEscolar.CustomResourceProviders, Version=1.0.0.0, Culture=neutral" fileEncoding="iso-8859-1" responseHeaderEncoding="iso-8859-1" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages configSource="Configs\pages.config"/>
  </system.web>
  <myviewstateSection>
    <viewstateService defaultProvider="ViewStateProviderCache" useProvider="none">
      <providers>
        <add name="ViewStateProviderCache" type="MSTech.GestaoEscolar.Web.WebProject.ViewState.ViewStateProviderCache" />
        <add name="ViewStateProviderSession" type="MSTech.GestaoEscolar.Web.WebProject.ViewState.ViewStateProviderSession" />
      </providers>
    </viewstateService>
  </myviewstateSection>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="SAML/Login.ashx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>