<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="CoreSSO" connectionString="$ConnectionString.CoreSSO$"
     providerName="System.Data.SqlClient" />
    <add name="MSTech.Log" connectionString="$ConnectionString.MSTech.Log$"
     providerName="System.Data.SqlClient" />
    <add name="GestaoEscolar" connectionString="$ConnectionString.GestaoEscolar$"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>