<configuration>
    <connectionStrings>
        <clear />
        <add name="CoreSSO" providerName="System.Data.SqlClient" connectionString="$ConnectionString.CoreSSO$" />
        <add name="MSTech.Log" providerName="System.Data.SqlClient" connectionString="$ConnectionString.MStech.Log$" />
		<add name="GestaoEscolar" providerName="System.Data.SqlClient" connectionString="$ConnectionString.GestaoEscolar$" />
    </connectionStrings>
</configuration>