/* styles-fonts */
/* CSS Document */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/materialicons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("fonts/materialicons/MaterialIcons-Regular.woff2") format("woff2"), url("fonts/materialicons/MaterialIcons-Regular.woff") format("woff"), url("fonts/materialicons/MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.material-icons.md-color {
  color: #fff; }

.material-icons.md-margin {
  margin: 12px; }

.material-icons.md-rotate {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg); }

.text-titulo {
  font-size: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 8px;
  display: block; }

.fieldset-curriculo legend .btn {
  float: right;
  margin-right: 12px;
  font-size: 0.8rem; }
.fieldset-curriculo .grid input[type="image"]:not([style*="hidden"]) {
  height: 20px !important;
  width: 20px !important;
  border: 1px dotted #0163a2 !important;
  padding: 3px;
  box-sizing: border-box; }
.fieldset-curriculo .grid input[type="image"].preenchido {
  border: 1px solid #0163a2 !important;
  -webkit-box-shadow: 0 1px 0 #0163a2;
  -moz-box-shadow: 0 1px 0 #0163a2;
  -ms-box-shadow: 0 1px 0 #0163a2;
  box-shadow: 0 1px 0 #0163a2; }
.fieldset-curriculo .grid input[type="image"]:disabled {
  opacity: 0.65;
  background: rgba(0, 0, 0, 0.15); }
.fieldset-curriculo .accordion-grid, .fieldset-curriculo .grid-topico, .fieldset-curriculo .grid-itens-right {
  border: 0;
  margin-bottom: 0; }
  .fieldset-curriculo .accordion-grid tr, .fieldset-curriculo .grid-topico tr, .fieldset-curriculo .grid-itens-right tr {
    position: relative; }
    .fieldset-curriculo .accordion-grid tr:hover > td, .fieldset-curriculo .grid-topico tr:hover > td, .fieldset-curriculo .grid-itens-right tr:hover > td {
      background: transparent !important; }
    .fieldset-curriculo .accordion-grid tr td:hover, .fieldset-curriculo .grid-topico tr td:hover, .fieldset-curriculo .grid-itens-right tr td:hover {
      background: transparent !important; }
  .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary), .fieldset-curriculo .grid-topico > tbody > tr:not(.summary), .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) {
    display: block;
    background: #eee;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 6px; }
    .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td, .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td, .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td {
      display: inline-block;
      border-bottom: 0;
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"] {
        position: absolute;
        top: 5px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnExcluir"], .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnIncluirSugestao"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnExcluir"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnIncluirSugestao"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnExcluir"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnIncluirSugestao"] {
          right: 5px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnEditar"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnEditar"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnEditar"] {
          right: 30px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnDescer"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnDescer"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnDescer"] {
          right: 55px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnSubir"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnSubir"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnSubir"] {
          right: 80px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnSalvar"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnSalvar"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnSalvar"] {
          position: static;
          margin-left: 15px;
          margin-bottom: 8px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnCancelar"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnCancelar"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnCancelar"] {
          position: static;
          margin-bottom: 8px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnListaSugestoes"], .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"][id*="btnListaSugestoes"], .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"][id*="btnListaSugestoes"] {
          right: 105px; }
        .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"].preenchido, .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td > input[type="image"].preenchido, .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td > input[type="image"].preenchido {
          border: 1px solid #0163a2 !important;
          -webkit-box-shadow: 0 1px 0 #0163a2;
          -moz-box-shadow: 0 1px 0 #0163a2;
          -ms-box-shadow: 0 1px 0 #0163a2;
          box-shadow: 0 1px 0 #0163a2; }
      .fieldset-curriculo .accordion-grid > tbody > tr:not(.summary) > td:first-child, .fieldset-curriculo .grid-topico > tbody > tr:not(.summary) > td:first-child, .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td:first-child {
        display: block;
        border-bottom: 0;
        position: static;
        padding: 10px 130px 10px 12px;
        width: 100%; }
.fieldset-curriculo .grid-topico + fieldset {
  margin-top: 16px; }
.fieldset-curriculo .painel-habilidades {
  position: relative; }
  .fieldset-curriculo .painel-habilidades input[type="submit"][id*="btnNovoEixo"] {
    position: absolute;
    right: 0;
    top: -35px; }
  .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    border-left: 0;
    background: none; }
    .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) > td {
      padding: 0; }
      .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) > td:first-child {
        cursor: pointer;
        position: relative; }
        .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) > td:first-child > span {
          display: block;
          padding: 10px 130px 0 25px; }
          .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) > td:first-child > span:before {
            content: '\e313';
            font-family: 'Material Icons';
            font-size: 24px;
            display: inline-block;
            position: absolute;
            left: -3px;
            top: 5px; }
      .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) > td:last-child {
        display: block; }
      .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) > td > input[type="image"][id*="btnSalvar"] {
        margin-left: 25px; }
    .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-head > div {
      margin-left: 25px;
      margin-bottom: 6px; }
    .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-closed {
      display: block;
      height: 0;
      overflow: hidden;
      padding: 0; }
    .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-opened {
      height: auto;
      padding: 0 0 15px 25px; }
    .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body {
      -moz-transition: padding 0.2s ease-out;
      -webkit-transition: padding 0.2s ease-out;
      transition: padding 0.2s ease-out; }
      .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid {
        width: 100%;
        margin-top: 6px; }
.fieldset-curriculo .grid-itens-left {
  border: none !important; }
  .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) {
    margin-bottom: 6px;
    background: #eee; }
    .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) > td {
      border-bottom: 8px solid #fff; }
      .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) > td:not(:first-child):not(:last-child) {
        vertical-align: top;
        width: 20px;
        padding: 5px 3px; }
      .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) > td.td-acao-dupla {
        width: 50px !important; }
      .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) > td:last-child {
        width: 70%;
        max-width: none;
        padding: 0;
        position: relative; }
        .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) > td:last-child:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          width: 5px;
          background: rgba(0, 0, 0, 0.5);
          z-index: 1; }
        .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) > td:last-child > div {
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          width: 100%;
          clear: both; }
        .fieldset-curriculo .grid-itens-left > tbody > tr:not(.summary) > td:last-child > .btn {
          float: right;
          margin: 3px 6px; }
.fieldset-curriculo .grid-itens-right {
  border: none !important;
  margin-top: 0 !important; }
  .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    border-left: 0; }
    .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td:first-child > span {
      display: inline-block;
      position: relative;
      padding: 5px 0 0 7px; }
      .fieldset-curriculo .grid-itens-right > tbody > tr:not(.summary) > td:first-child > span:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-left-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: -7px;
        top: 6px; }
.fieldset-curriculo .grid tr:hover td, .fieldset-curriculo .tbGrid tr:hover td,
.fieldset-curriculo .grid tr td .grid tr:hover td, .fieldset-curriculo .tbGrid tr td .grid tr:hover td {
  background: transparent !important; }
.fieldset-curriculo .ul-sugestoes {
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 0 0 !important; }
  .fieldset-curriculo .ul-sugestoes.list-closed {
    border: none; }
    .fieldset-curriculo .ul-sugestoes.list-closed li {
      padding: 0;
      height: 0;
      overflow: hidden;
      -moz-transition: all 0.2s ease-out;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      border: none; }
  .fieldset-curriculo .ul-sugestoes li {
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    background: url("images/sugerir.png") 15px 10px no-repeat;
    height: auto;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .fieldset-curriculo .ul-sugestoes li small {
      display: block;
      opacity: 0.75;
      font-size: 0.65rem; }

.selecao-disciplina table.radio tbody {
  display: -webkit-flex;
  /* Safari */
  display: -ms-flex;
  /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }
.selecao-disciplina table.radio tr {
  display: inline-block;
  width: 20%; }
  .selecao-disciplina table.radio tr td {
    display: block;
    padding: 5px;
    height: 100%; }
  .selecao-disciplina table.radio tr input[type="radio"] {
    display: none; }
  .selecao-disciplina table.radio tr label {
    display: block;
    padding: 10px;
    border: 1px solid #0163a2;
    width: 100%;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height: 100%;
    margin: 0 !important; }
    .selecao-disciplina table.radio tr label:hover {
      background: #eee;
      cursor: pointer; }
  .selecao-disciplina table.radio tr input[type="radio"]:checked + label {
    background: #0163a2;
    color: #fff; }

.scroll-table-full {
  max-width: calc(100vw - 120px);
  overflow: auto; }

@media screen and (max-width: 600px) {
  .selecao-disciplina table.radio tr {
    width: 33.3%; } }
@media screen and (max-width: 700px) {
  .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr {
    display: block;
    width: 100%; }
    .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td {
      display: inline-block; }
      .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td:first-child, .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td:last-child {
        display: block;
        width: 100%; }
        .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td:first-child .btn, .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td:last-child .btn {
          float: left; }
      .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td:not(:first-child):not(:last-child) {
        float: right; }
        .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td:not(:first-child):not(:last-child) input[type="image"] {
          position: absolute;
          border-width: 0px;
          top: 5px;
          -moz-transform: translateX(-15px);
          -o-transform: translateX(-15px);
          -webkit-transform: translateX(-15px);
          transform: translateX(-15px); }
      .fieldset-curriculo .painel-habilidades .accordion-grid > tbody > tr:not(.summary) .accordion-body .grid tr td:not(:last-child) {
        border-bottom: 0; } }
@media screen and (max-width: 960px) {
  .fieldset-curriculo .painel-habilidades input[type="submit"][id*="btnNovoEixo"] {
    position: static; }

  .scroll-table-full {
    max-width: calc(100vw - 40px); } }
a.btRelatorioRP, a.btRelatorioAEE, .btn-dropdown-relatorio {
  width: 26px;
  height: 20px;
  background-image: url(images/ico_avaliacao_rp.png);
  background-repeat: no-repeat;
  display: none;
  border: none;
  outline: none;
  background-color: transparent; }

a.btRelatorioAEE {
  width: 30px;
  background-image: url(images/ico_avaliacao_aee.png); }

.td-relatorio {
  position: relative;
  min-width: 175px;
  padding-right: 38px !important;
  height: 42px; }

.dropdown-relatorio {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 11px;
  z-index: 1;
  min-height: 0; }
  .dropdown-relatorio a {
    text-decoration: none;
    line-height: 1.3; }
    .dropdown-relatorio a:only-of-type {
      display: inline-block; }
  .dropdown-relatorio.opened {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 175px;
    top: 36px;
    min-height: 36px;
    -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2); }
    .dropdown-relatorio.opened .item-dropdown-relatorio {
      background-position: 8px 6px;
      display: block;
      height: auto;
      padding: 10px 6px 10px 45px;
      border-bottom: 1px solid #ddd;
      width: 100%; }
      .dropdown-relatorio.opened .item-dropdown-relatorio:hover {
        background-color: #eee;
        -moz-transition: background-color 0.2s ease-out;
        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out; }
      .dropdown-relatorio.opened .item-dropdown-relatorio:after {
        content: attr(title);
        width: 120px;
        display: inline-block; }
    .dropdown-relatorio.opened .btn-dropdown-relatorio {
      position: absolute;
      right: 0px;
      top: -26px; }

.btn-dropdown-relatorio {
  width: 21px;
  background-image: url(images/ico_avaliacao_drop.png);
  cursor: pointer; }

a + a + .btn-dropdown-relatorio {
  display: inline-block; }

div[id*="divTabsListao"] .grid.sortableFrequencia .checkBoxList {
  margin: 6px 0 0; }

div[id*="divTabsListao"] .grid.tbLancamentoAvaliacoes br.responsive-hide {
  display: none; }

.text-left {
  text-align: left !important; }

/*# sourceMappingURL=new_css.css.map */
