<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    O Sistema de Gestão Pedagógica - SGP é uma ferramenta para auxiliar os docentes no registro da trajetória educacional
    do aluno e emissão do boletim. Em uso nas unidades escolares de Ensino Fundamental do município de São Paulo
</div>
