<appSettings>
  <!--Configura o relatório para português-->
  <add key="ReportViewerMessages" value="MSTech.SqlServer.ReportingServices.CReportViewerCustomMessages, MSTech.SqlServer.ReportingServices" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="aspnet:MaxHttpCollectionKeys" value="3000" />
  <add key="jwtKey" value="hYafMfRTlRTJ+LBmA0m88w==" />
  <add key="ViewStateCacheExpiration" value="5" />
  <!--Autenticador Identity Server -->
  <add key="Cookies_AuthenticationType" value="Cookies" />
  <add key="Cookies_CookieName" value="AspNet.MSCookies" />
  <add key="Cookies_LoginPath" value="/SAML/Login.ashx" />
  <add key="Cookies_CookieDomain" value=".mstech.com.br" />
  <add key="AuthenticationType" value="mstech" />
  <add key="SignInAsAuthenticationType" value="Cookies" />
  <add key="Authority" value="http://identity.mstech.com.br" />
  <add key="RedirectUri" value="http://gestaoids.mstech.com.br/SAML/Login.ashx" />
  <add key="ClientId" value="mstech" />
  <add key="ClientSecret" value="mstech" />
  <add key="Scope" value="openid profile mstechapi" />
  <add key="ResponseType" value="code id_token token" />
  <add key="EndpointUserInfo" value="http://identity.mstech.com.br/connect/userinfo" />
  <add key="UrlNotificationAPI" value="http://10.10.10.37:5019" />
  <add key="UrlNotificationSignalR" value="http://10.10.10.37:5020/signalr/" />
  <!--Autenticador Identity Server -->  
</appSettings>