<appSettings>
  <!--Configura o relatório para português-->
  <add key="ReportViewerMessages" value="MSTech.SqlServer.ReportingServices.CReportViewerCustomMessages, MSTech.SqlServer.ReportingServices" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="aspnet:MaxHttpCollectionKeys" value="3000" />
  <add key="jwtKey" value="hYafMfRTlRTJ+LBmA0m88w==" />
  <add key="ViewStateCacheExpiration" value="5" />
  <!--Autenticador Identity Server -->
  <add key="Cookies_AuthenticationType" value="Cookies" />
  <add key="Cookies_CookieName" value="SMESP.IDS" />
  <add key="Cookies_LoginPath" value="/SAML/Login.ashx" />
  <add key="Cookies_CookieDomain" value=".sme.prefeitura.sp.gov.br" />
  <add key="AuthenticationType" value="smesp" />
  <add key="SignInAsAuthenticationType" value="Cookies" />
  <add key="Authority" value="http://10.10.10.37:5000" />
  <add key="RedirectUri" value="http://10.10.10.37:5001/Login.ashx" />
  <add key="ClientId" value="smespmvc" />
  <add key="ClientSecret" value="smesphomolog" />
  <add key="Scope" value="openid profile smespapi" />
  <add key="ResponseType" value="code id_token token" />
  <add key="EndpointUserInfo" value="http://10.10.10.37:5000/connect/userinfo" />
  <add key="UrlNotificationAPI" value="http://10.10.10.37:5019" />
  <add key="UrlNotificationSignalR" value="http://10.10.10.37:5020/signalr/" />
  <!--Autenticador Identity Server -->  
</appSettings>