<appSettings>
    <!--Configura o relatório para português-->
    <add key="ReportViewerMessages" value="MSTech.SqlServer.ReportingServices.CReportViewerCustomMessages, MSTech.SqlServer.ReportingServices" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="aspnet:MaxHttpCollectionKeys" value="3000" />
    <add key="jwtKey" value="hYafMfRTlRTJ+LBmA0m88w==" />
	<add key="ViewStateCacheExpiration" value="5" />
</appSettings>