    <!-- ### 
            LEIA o arquivo Configs\Session.txt na raiz do projeto para gravar a Session em um servidor Redis.
            Premissa: As classes Entities do CoreSSO e do Gestão devem ter o atributo [Serializable].
    -->
    <sessionState mode="InProc" cookieName="DF696E5B-5B19-4f6f-9B2B-28DA5B7837A5" cookieless="UseCookies" timeout="30" />
    <!--<sessionState mode="Custom" cookieName="DF696E5B-5B19-4f6f-9B2B-28DA5B7837A5" cookieless="UseCookies" timeout="30" customProvider="MySessionStateStore">
      <providers>
        <add name="MySessionStateStore"
             type="Microsoft.Web.Redis.RedisSessionStateProvider"
             host="192.168.10.21"
             port="6379"
             accessKey=""
             ssl="false"
             throwOnError = "true"
             connectionTimeoutInMilliseconds = "0"
             operationTimeoutInMilliseconds = "0" 
              />
      </providers>
    </sessionState>-->