<siteMap defaultProvider="SsoSiteMapProvider" enabled="true">
  <providers>
    <clear />
    <add name="SsoSiteMapProvider" description="Default SiteMap provider." type="MSTech.CoreSSO.Providers.SsoSiteMapProvider, MSTech.CoreSSO.Providers" securityTrimmingEnabled="true" 
         urlRoot="~/Index.aspx" 
         sistemaID="102" />
  </providers>
</siteMap>