<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dbup" version="3.3.5" targetFramework="net452" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net452" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
</packages>