<appSettings>
	<add key="AppLoginProprioDoSistema" value="true" />
  <add key="jwtKey" value="hYafMfRTlRTJ+LBmA0m88w==" />
  <!--Autenticador Identity Server -->
  <add key="Cookies_AuthenticationType" value="Cookies" />
  <add key="Cookies_CookieName" value="SMESP.IDS" />
  <add key="Cookies_LoginPath" value="/SAML/Login.ashx" />
  <add key="Cookies_CookieDomain" value=".sme.prefeitura.sp.gov.br" />  
  <add key="AuthenticationType" value="smesp" />
  <add key="SignInAsAuthenticationType" value="Cookies" />
  <add key="Authority" value="http://hom-sgp.sme.prefeitura.sp.gov.br" />
  <add key="RedirectUri" value="http://hom-coresso.sme.prefeitura.sp.gov.br/Login.ashx" />
  <add key="ClientId" value="smespmvc" />
  <add key="ClientSecret" value="smesphomolog" />
  <add key="Scope" value="openid profile smespapi" />
  <add key="ResponseType" value="code id_token token" />
  <add key="EndpointUserInfo" value="http://hom-identity.sme.prefeitura.sp.gov.br/connect/userinfo" />
  <!--Autenticador Identity Server -->
</appSettings>