<appSettings>
	<add key="AppLoginProprioDoSistema" value="true" />
  <add key="jwtKey" value="hYafMfRTlRTJ+LBmA0m88w==" />
  <!--Autenticador Identity Server -->
  <add key="Cookies_AuthenticationType" value="Cookies" />
  <add key="Cookies_CookieName" value="AspNet.MSCookies" />
  <add key="Cookies_LoginPath" value="/Login.ashx" />
  <add key="Cookies_CookieDomain" value=".mstech.com.br" />
  <add key="AuthenticationType" value="mstech" />
  <add key="SignInAsAuthenticationType" value="Cookies" />
  <add key="Authority" value="http://hom-sgp.sme.prefeitura.sp.gov.br" />
  <add key="RedirectUri" value="http://hom-coresso.sme.prefeitura.sp.gov.br/Login.ashx" />
  <add key="ClientId" value="mstech" />
  <add key="ClientSecret" value="mstech" />
  <add key="Scope" value="openid profile mstechapi" />
  <add key="ResponseType" value="code id_token token" />
  <add key="EndpointUserInfo" value="http://hom-identity.sme.prefeitura.sp.gov.br/connect/userinfo" />
  <!--Autenticador Identity Server -->
</appSettings>