<authentication mode="Forms">
	<!--forms Cada "name" deve ser diferente para cada site-->
	<forms name="2CEBC3C0-D35A-4852-889F-06784F955E63" cookieless="UseCookies" timeout="120" protection="All" slidingExpiration="true" loginUrl="Login.aspx" enableCrossAppRedirects="false" path="/" />
</authentication>