<!--<ServiceProvider id="http://localhost:4255/SAML/" xmlns="urn:MSTech.SAML20.Configuration">
	<ServiceEndpoint type="signon" localpath="http://localhost:4255/SAML/Login.aspx" redirectUrl="http://localhost:54296/SAML/Signon.aspx">
		<SigningCertificate keyFile="samlcert.pfx" password="YS2OglvxHMwaTWXkzeTOTw==" />
    </ServiceEndpoint>
	<ServiceEndpoint type="logout" localpath="http://localhost:4255/Logout.ashx" redirectUrl="http://localhost:54296/Logout.ashx" />
</ServiceProvider>-->