<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <clear />
  <add name="CoreSSO" connectionString="2OIa2JUFhOQPIigiHPmj2qap1/6SJ6cn6845IWYZPkyRidV1X9IBSQIioF1o+OHjNctOWrhWz6taspEEK3YtxhItRvM3dYcD5Sd2itcjmKIUc3ArPeTBs1nZIlIt7MgXVH82B+I7z0TYm3vcpwmZNA=="
   providerName="System.Data.SqlClient" />
  <add name="MSTech.Log" connectionString="2OIa2JUFhOQPIigiHPmj2qap1/6SJ6cn6845IWYZPkyRidV1X9IBSQIioF1o+OHjNctOWrhWz6tXTORst/ws9RwE6XVcxyOJvA3iWFl+UzX6Hel9WkfRq8+u1bKcVz7IK5nZu5YAp3Z4u0yqZqP23Q=="
   providerName="System.Data.SqlClient" />
  <add name="GestaoEscolar" connectionString="2OIa2JUFhOQPIigiHPmj2qap1/6SJ6cn6845IWYZPkyRidV1X9IBSQIioF1o+OHjUw2MN5CgW4A5oU5XVa3bhrvZcdF2pG5A0bLDa9ld1kmtaXrITuBNGFvgzZ5Y9rvAzK1dScC0VzmW3Fu76OJbbLmHVfZfARbZ"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>