<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <!-- Session criada para configuração do SAML -->
    <section name="ServiceProvider" type="MSTech.SAML20.Configuration.ConfigurationReader, MSTech.SAML20" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- Configuração do ViewState -->
    <sectionGroup name="myviewstateSection">
      <section name="viewstateService" type="MSTech.GestaoEscolar.Web.WebProject.ViewState.ViewStateProviderServiceSection, MSTech.GestaoEscolar.Web.WebProject" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>

  <!--Configuração da appSettings em arquivo externo-->
  <appSettings configSource="Configs\appSettings.config" />
    
  <connectionStrings />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" />
    <xhtmlConformance mode="Strict" />
    <!--Diagnóstico-->
    <trace enabled="false" pageOutput="false" mostRecent="true" localOnly="true" />
    <!-- Segurança -->
    <!--<trust level="Minimal"/>-->
    <machineKey validation="SHA1" decryption="AES" validationKey="5ADDE444FB8D869B71A51BAEAF5FA4E3FD12BD4A4C25538259D6FC3DC918CDF8" decryptionKey="5C550FBD21E3BD516AFA39615D389615" />
    <!--impersonate="false" para funcionar o login no AD-->
    <identity impersonate="false" />
    <httpCookies httpOnlyCookies="true" />
    
    <!--Configuração do authentication em arquivo externo-->
    <authentication configSource="Configs\authentication.config" />
    
    <!--Configuração da sessão em arquivo externo-->
    <sessionState configSource="Configs\session.config" />

    <globalization uiCulture="pt-BR" culture="pt-BR" resourceProviderFactoryType="MSTech.GestaoEscolar.CustomResourceProviders.DBResourceProviderFactory, MSTech.GestaoEscolar.CustomResourceProviders, Version=1.0.0.0, Culture=neutral" fileEncoding="iso-8859-1" responseHeaderEncoding="iso-8859-1" requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--Altera os valores padrão do asp.net para upload: 100mb arquivo máximo-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.XtraReports.v16.1.Web, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v16.1.Core, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v16.1.Core, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraEditors.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.RichEdit.v16.1.Core, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    
    <customErrors mode="Off" defaultRedirect="Manutencao.aspx" />

    <!--Configuração do SiteMap em arquivo externo-->
    <siteMap configSource="Configs\siteMap.config" />

    <!--Configuração da pages-->
    <pages configSource="Configs\pages.config" />
    
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="GET" path="CacheEfetivacaoHandler.ashx" type="MSTech.GestaoEscolar.Web.WebProject.HttpHandlers.CacheEfetivacaoHandler" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <!--<add name="MinifyHTML" type="MSTech.GestaoEscolar.Web.WebProject.HttpModules.MinifyHTML.HttpModule, MSTech.GestaoEscolar.Web.WebProject" />-->
    </httpModules>
  </system.web>
  
  <!-- Configurações do SAML -->
  <ServiceProvider configSource="Configs\saml.config" />
  
  <!-- Configurações do Custom viewstate provider service -->
  <myviewstateSection>
    <!-- Pode-se usar mais um atributo useProvider="none", caso não deseja utilizar nenhum dos providers. -->
    <viewstateService defaultProvider="ViewStateProviderCache" useProvider="none">
      <providers>
        <add name="ViewStateProviderCache" type="MSTech.GestaoEscolar.Web.WebProject.ViewState.ViewStateProviderCache" />
        <add name="ViewStateProviderSession" type="MSTech.GestaoEscolar.Web.WebProject.ViewState.ViewStateProviderSession" />
      </providers>
    </viewstateService>
  </myviewstateSection>
  <location path="Imagens">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Includes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="manutencao.htm">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SAML/samlcert.pfx">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Log">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!--O valor deve ser igual ao maxRequestLength (porém em bytes)-->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <!--<add name="MinifyHTML" type="MSTech.GestaoEscolar.Web.WebProject.HttpModules.MinifyHTML.HttpModule, MSTech.GestaoEscolar.Web.WebProject" />-->
    </modules>
    <handlers>
      <remove name="ReportViewerWebControl" />
      <add name="ReportViewerWebControl" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.1, Version=16.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="CacheEfetivacaoHandler" verb="GET" path="CacheEfetivacaoHandler.ashx" type="MSTech.GestaoEscolar.Web.WebProject.HttpHandlers.CacheEfetivacaoHandler" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <!--Configura o tempo de cache do navegador-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10:00:00" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
